<section class="about-friends" aria-labelledby="friend-links-title">
    <h2 class="about-friends__title" id="friend-links-title"><%= t('about.friendLinks') %></h2>
    <div class="friends-grid">
        <% friends.forEach(friend => { %>
            <article class="div friend-card">
                <a href="<%= friend.url %>" target="_blank" rel="noopener noreferrer" class="friend-card__link">
                    <img
                        src="<%= friend.avatar %>"
                        alt="<%= friend.name %>"
                        class="friend-card__avatar"
                        style="border-color: <%= friend.color %>;"
                    >
                    <div class="friend-card__body">
                        <h3 class="friend-card__name"><%= friend.name %></h3>
                        <% if (friend.desc) { %>
                            <p class="friend-card__desc"><%= friend.desc %></p>
                        <% } %>
                        <% if (friend.signature) { %>
                            <p class="friend-card__signature"><%= friend.signature %></p>
                        <% } %>
                    </div>
                </a>
            </article>
        <% }); %>
    </div>
</section>
