<div class="div about-copy">
    <%= t('about.ownership') %><br>
    <%= t('about.origin') %><br>
    <%= t('about.thanks') %>
    <ul>
        <li><a href="https://hosinoneko.me">HosinoNeko</a>: <%= t('about.supporters.hosino') %></li>
        <li><a href="https://x.com/LwrDHYyuxR22499">牧鸢</a>: <%= t('about.supporters.muyuan') %></li>
        <li><a href="https://leafletjs.com/">LEAFLETJS</a>: <%= t('about.supporters.leaflet') %></li>
        <li><a href="https://x.com/amber_toffee">amber ଳ</a>: <%= t('about.supporters.amber') %></li>
        <li><a href="https://x.com/medicagoo">楠沐雪</a>: <%= t('about.supporters.nanmuxue') %></li>
        <li>Google LLC.: <%= t('about.supporters.google') %></li>
        <li>GitHub: <%= t('about.supporters.github') %></li>
        <li>Vercel: <%= t('about.supporters.vercel') %></li>
        <li>NodeJS: <%= t('about.supporters.nodejs') %></li>
    </ul>
</div>
