<details class="div map-api-card" close>
    <summary><h3><%= t('map.api.summary') %></h3></summary>
    <div class="details-content">
        <%= t('map.api.privacy') %><br>
        <%= t('map.api.beforeUse') %><br>
        <hr>
        <%= t('map.api.implementationTitle') %><br>
        <%= t('map.api.implementationBody') %><br>
        <hr>
        <%= t('map.api.opinionTitle') %><br>
        <%= t('map.api.opinionBody') %><br>
        <%= t('map.api.cta') %><br>
        <a href="https://www.victimsunion.org/api/map-data" class="api-link-highlight" target="_blank">
            🔗 <%= t('map.api.link') %>
        </a>
    </div>
</details>
