<form class="standalone-toolbar" method="GET" action="<%= currentPathname || '/' %>" data-standalone-language-form>
    <% currentQueryEntries.forEach((entry) => { %>
        <input type="hidden" name="<%= entry.key %>" value="<%= entry.value %>">
    <% }) %>
    <label class="standalone-language-picker" for="standaloneLanguageSelect">
        <span class="standalone-language-picker__label"><%= t('common.language') %></span>
        <select id="standaloneLanguageSelect" name="lang" data-standalone-language-select aria-label="<%= t('common.language') %>">
            <% languageOptions.forEach((option) => { %>
                <option value="<%= option.code %>" <%= option.code === lang ? 'selected' : '' %>><%= option.label %></option>
            <% }) %>
        </select>
    </label>
    <button type="submit" class="standalone-language-picker__submit"><%= t('common.switchLanguage') %></button>
</form>
