<%- include('partials/head') %>
<html>
<body>
    <a href="/" class="page-back-link">← <%= t('navigation.home') %></a>
    <h1><%= t('blog.title') %></h1>
    <h3><%= t('blog.subtitle') %></h3>

    <section class="div">
        <a class="button" href="?"><%= t('blog.all') %></a>
        <% const keys = Object.keys(AllTags); %>
        <% keys.forEach(function(id) { %>
            <% const name = AllTags[id]; %>
            <a class="button" href="?tag=<%- id %>">#<%- name %></a>
        <% }) %>
    </section>

    <section class="prot">
        <% if (SavedTags.length > 0){%>
            <% SavedTags.forEach(Prot =>{%>
                <div class="div">
                    <a href="/port/<%= Prot.filename %>">
                        <h2 class="blog-list-card__title">
                            <span class="blog-list-card__title-original"><%= Prot.title %></span>
                            <% if (Prot.translatedTitle) { %>
                                <span class="blog-list-card__title-translation"><%= Prot.translatedTitle %></span>
                            <% } %>
                        </h2>
                        <p><%= t('blog.author') %><%= Prot.author %></p>
                        <p><%= t('blog.creationDate') %><%= Prot.CreationDate %></p>
                        <p><%= t('blog.language') %><%= Prot.Language %></p>
                        <p>
                            <% if (Prot.tagid && Prot.tagid.length > 0) { %>
                                <% Prot.tagid.forEach(id => { %>
                                    <span class="tag-label">#<%= AllTags[id] %> </span>
                                <% }) %>
                            <% } else { %>
                                <%= t('blog.noTag') %>
                            <% } %>
                        </p>
                    </a>

                </div>
            <%})%>
        <%} else {%>
            <h3><%= t('blog.empty') %></h3>
        <%}%>
    </section>

    <%- include('partials/foot') %>
</body>
</html>
