<%- include('partials/head') %>
<html>
<body>
    <div>
        <p><a href="/"><%= t('navigation.home') %></a></p>
        <p><a href="/blog"><%= t('navigation.allArticles') %></a></p>
    </div>

    <div class="div blog-article-card" style="width: 70%;">
        <% reports.forEach(report => { %>
        <main class="main blog-article">
                <div class="port" id="markdown">
                    <%- report.html %>
                </div>
            </main>
        <% }) %>
    </div>
    <% if (lang === 'en') { %>
        <script src="/js/blog_article_translation.js"></script>
    <% } %>
    <%- include('partials/foot') %>
</body>
</html>
